extends layout
block head
    link(type='text/css', rel='stylesheet', href='css/about.css')
block content
    .lazyimgparent
        img.lazyimg(src="https://s1.tuchong.com/sites/423/423986/header.jpg?7", alt="")
    p.about This
    p.about is
    p.about A
    p.about Lazy
    p.about Coder
    p.proj Project available on&nbsp
        a.projlink(href='https://github.com/Guocode/nodejs_web') https://github.com/Guocode/nodejs_web