extends layout
block head
    link(rel="stylesheet", type="text/css", href="css/amazeui.css")
    link(rel="stylesheet", type="text/css", href="css/game.css")
    link(rel="stylesheet", type="text/css", href="css/gobang.css")
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="js/sock.js")
    script(type="text/javascript", src="js/amazeui.js")
    script(type="text/javascript", src="js/game.js")
    script(type="text/javascript", src="js/gobang.js")
block content
    .am-g
        .am-u-sm-9
            //.left
            .wrapper
                .content
                    .mask
                        p(style="text-align: center") 请点击开始匹配
                    section#chessboard.clear
                    //section#mask
                    //    aside.conBox
                    //        button#submitBtn 确认

        .am-u-sm-3
            .wrapper2
                .content
                    span.infobar
                        button#match.am-btn.am-btn-primary(type='button', data-am-popover="{content: '配对玩家：超级锅', trigger: 'hover focus'}") 开始匹配
                        p.statusinfo
                    hr.hr0
                    .am-scrollable-vertical.right
                        ul.am-comments-list.am-comments-list-flip
                            li.am-comment
                                a(href='#link-to-user-home')
                                    img.am-comment-avatar(src='http://www.gravatar.com/avatar/1ecedeede84a44f371b9d8d656bb4265?d=mm&s=96', alt='', width='48', height='48')
                                .am-comment-main
                                    div.am-comment-hd
                                        .am-comment-meta
                                            a.am-comment-author(href='#link-to-user') 路人甲
                                            |  评论于
                                            time(datetime='2013-07-27T04:54:29-07:00', title='2013年7月27日 下午7:54 格林尼治标准时间+0800') 2014-7-13 0:03
                                    .am-comment-bd
                                        p
                                            | She's gone 我早知道
                                            br
                                            | 她将要 从我的生命中走掉
                                            br
                                            | 不再停留多一秒
                        ul.am-comments-list.am-comments-list-flip
                            li.am-comment
                                a(href='#link-to-user-home')
                                    img.am-comment-avatar(src='http://www.gravatar.com/avatar/1ecedeede84a44f371b9d8d656bb4265?d=mm&s=96', alt='', width='48', height='48')
                                .am-comment-main
                                    div.am-comment-hd
                                        .am-comment-meta
                                            a.am-comment-author(href='#link-to-user') 路人甲
                                            |  评论于
                                            time(datetime='2013-07-27T04:54:29-07:00', title='2013年7月27日 下午7:54 格林尼治标准时间+0800') 2014-7-13 0:03
                                    .am-comment-bd
                                        p
                                            | She's gone 我早知道
                                            br
                                            | 她将要 从我的生命中走掉
                                            br
                                            | 不再停留多一秒
                        ul.am-comments-list.am-comments-list-flip
                            li.am-comment
                                a(href='#link-to-user-home')
                                    img.am-comment-avatar(src='http://www.gravatar.com/avatar/1ecedeede84a44f371b9d8d656bb4265?d=mm&s=96', alt='', width='48', height='48')
                                .am-comment-main
                                    div.am-comment-hd
                                        .am-comment-meta
                                            a.am-comment-author(href='#link-to-user') 路人甲
                                            |  评论于
                                            time(datetime='2013-07-27T04:54:29-07:00', title='2013年7月27日 下午7:54 格林尼治标准时间+0800') 2014-7-13 0:03
                                    .am-comment-bd
                                        p
                                            | She's gone 我早知道
                                            br
                                            | 她将要 从我的生命中走掉
                                            br
                                            | 不再停留多一秒
                        ul.am-comments-list.am-comments-list-flip
                            li.am-comment
                                a(href='#link-to-user-home')
                                    img.am-comment-avatar(src='http://www.gravatar.com/avatar/1ecedeede84a44f371b9d8d656bb4265?d=mm&s=96', alt='', width='48', height='48')
                                .am-comment-main
                                    div.am-comment-hd
                                        .am-comment-meta
                                            a.am-comment-author(href='#link-to-user') 路人甲
                                            |  评论于
                                            time(datetime='2013-07-27T04:54:29-07:00', title='2013年7月27日 下午7:54 格林尼治标准时间+0800') 2014-7-13 0:03
                                    .am-comment-bd
                                        p
                                            | She's gone 我早知道
                                            br
                                            | 她将要 从我的生命中走掉
                                            br
                                            | 不再停留多一秒
                    .am-input-group
                        input.am-form-field(type='text')
                        span.am-input-group-btn
                            button.am-btn.am-btn-default(type='button') 发送
    // 在这里编写你的代码

    //section.services.container.clearfix
    //    .tool.group
    //        textarea(id='input',rows="10")
    //        button(id='con' name='con_btn') 建立连接
    //        //button(id='match' name='match_btn') 匹配队友
    //        button(id='send' name='send_btn') 发送消息
    //        button(id='discon' name='discon_btn') 断开连接