extends layout
block head
    link(rel="stylesheet", type="text/css", href="css/amazeui.css")
    link(rel="stylesheet", type="text/css", href="css/game.css")
    link(rel="stylesheet", type="text/css", href="css/gobang.css")
    script(type="text/javascript", src="socket.io/socket.io.js")
    script(type="text/javascript", src="js/sock.js")
    script(type="text/javascript", src="js/amazeui.js")
    script(type="text/javascript", src="js/game.js")
    script(type="text/javascript", src="js/gobang.js")
block content
    .am-g
        .am-u-sm-9
            //.left
            .wrapper
                .content
                    .mask
                        p(style="text-align: center") Match to start!
                    section#chessboard.clear
                    //section#mask
                    //    aside.conBox
                    //        button#submitBtn 确认

        .am-u-sm-3
            .wrapper2
                .content
                    div.infobar
                        button#match.am-btn.am-btn-primary(type='button', data-am-loading="{spinner: 'circle-o-notch', loadingText: 'Matching...'}",data-am-popover="{content: 'enjoy yourself!', trigger: 'hover focus'}") Match
                        p.statusinfo
                    hr.hr0
                    .am-scrollable-vertical.right
                    .am-input-group
                        textarea#msginput.am-form-field(type='text' rows="3")
                        button#sendmsg.am-btn.am-btn-default.am-disabled(type='button') send

    // 在这里编写你的代码

    //section.services.container.clearfix
    //    .tool.group
    //        textarea(id='input',rows="10")
    //        button(id='con' name='con_btn') 建立连接
    //        //button(id='match' name='match_btn') 匹配队友
    //        button(id='send' name='send_btn') 发送消息
    //        button(id='discon' name='discon_btn') 断开连接