.am-g{
    /*height: 700px;*/
}
.am-u-sm-9{
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    padding-left:0!important;
    padding-right:0!important;
    /*margin: 10px;*/
    /*border:3px solid black;*/
}
.am-u-sm-3{
    height: 100%;
    /*margin: 10px;*/

    padding-left:0!important;
    padding-right:0!important;
}
.am-btn-primary{
    display: inline;
    width: 110px;
    margin: 10px;
}
.right{
    height: 65%;
}
.am-input-group{
    /*bottom: -20px;*/
    height: 25%;
    width: 100%;
}
.hr0{
    margin: 0;
    height:1px;
    border:none;
    border-top:2px solid #ddd;
}
/*.infobar p.active{*/
/*!*display: none;*!*/
/*display: inline;*/
/*}*/
.infobar p {

    display: inline;
}
/*.am-comment-main{*/
/*margin-right: 7px!important;*/
/*}*/
.am-comment-hd{
    height: auto;
}
.wrapper{
    position:relative;

    padding-bottom:56.25%;   // 16/9 = 0.5625;
    height:0;
}
.wrapper2{
    position:relative;

    padding-bottom:167%;   // 16/9 = 0.5625;
    height:0;
    border:3px solid #a0b3b0;
}
.content{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    /*background:gray;*/
}
.infobar{
    /*height: 15%;*/
}